@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

body{
    margin: 0;
    border: 0;
}
.fb-svg{
    width: 16vw;
    margin-left: 0;
    border-left: 0;
}
.container{
    background-color:#f0f2f5;
    height: 73vh;
}
.descriptions{
    display:flex;
    flex-direction: column;
    font-family:"SF Pro Display", sans-serif;
    font-size: 27px;
    margin-left: 1.7vw;
    margin-top: -2vh; 
}

.small{
    color: #606770;
    font-size: 15px;
}
.container{
    display: flex;
}
.container .column-1{
    margin-left: 22vw;
    margin-top: 18vh;
}

.column-2, .column-1{
    margin:auto;
}
.column-2{
    display:block;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0.35rem;
    width: 18.3vw;
    height: 32vh;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);;
    margin-right: 25vw;
    margin-top: 15vh;
}

.login{
    display: flex;
    flex-direction: column;
}
input[type="text"], 
input[type="password"]{
    font-family: "Helvetica", sans-serif;
    padding: 15px;
    font-size: 17px;
    opacity: 0.8;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #dddfe2; 
}

.bttn-1{
    background-color: #1877f2;
    color:#ffff;
    border: 0;
    border-radius: 5px;
    height: 2.6rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor:pointer;
}

.bttn-2 {
    width: 200px;
    height: 50px;
    background-color: #42b72a;
    border: 0; 
    font-family: inherit;
    border-radius: 5px;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    font-family: "SF Pro Display", sans-serif ;
    margin: 10px;
    padding: 10px;
    cursor:pointer;
    margin-top: 2vh;
}
.bottom{
    text-align: center;
    padding: 10px
}
.bottom a {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #1877f2;
    font-size: 0.9rem;
    font-weight: 500;
    cursor:pointer;
    margin: 10px 0 10px 0;
}

.hr1{
    border-top: 1px solid #ffff;
    margin: 10px 0 10px 0;
}

.bttn-2:hover{
    background-color: hsl(110, 63%, 40%)
}

.bttn-1:hover{
    background-color: hsl(214, 89%, 45%)
}

.column-2 .below {
    font-family: "SF Pro Display", sans-serif;
    font-size: 15px;
    color: #1c1e21;
    text-align: center;
    margin-top: 5vh;
}

.below .bold{
    font-weight: bold;
    text-decoration: none;
    color: #1c1e21;
}

.below .bold:hover{
    text-decoration: underline;
}

